body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #ffffff;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}
p {
   margin: 0;
}
a {
   text-decoration: none;
}
img {
   box-sizing: border-box;
   display: block;
   max-width: 100%;
   height: auto;
}
section {
   padding: 120px 0;
   max-width: 1440px;
}

.container {
   width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}

/* Header */
.header {
   border-bottom: 1px solid #e7e9fc;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
   max-width: 1440px;
}

.header-conteiner {
   display: flex;
   align-items: center;
   margin: 0 auto;
}

.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 117%;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   margin-right: 76px;
   display: flex;
}

.logo-web {
   color: #2e2f42;
}
.navigation {
   display: flex;
   align-items: center;
}
.nav-ul {
   display: flex;
   gap: 40px;
}
.nav-ul-link {
   font-weight: 500;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.02em;
   color: #2e2f42;
   padding: 24px 0;
   display: block;
}

.nav-ul-link:hover {
   color: #404bbf;
}

.nav-ul-link:focus {
   color: #404bbf;
}

.current {
   color: #404bbf;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   position: relative;
}

.current::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: -1px;
   width: 100%;
   display: block;
   height: 4px;
   border-radius: 2px;
   background-color: #404bbf;
}

.address {
   font-style: normal;
   margin-left: auto;
}
.address-info {
   color: #434455;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-info:hover {
   color: #404bbf;
}
.address-info:focus {
   color: #404bbf;
}
.address-mail-tel {
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.02em;
   color: #434455;
   display: flex;
   gap: 40px;
}
/* main */

/* ---section--- 1 */
.main-section-oun {
   background: #2e2f42;
   background-image: linear-gradient(
         rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
   padding: 188px 0;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

.title {
   font-weight: 700;
   font-size: 56px;
   line-height: 107%;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff;
   max-width: 496px;

   margin: 0 auto 64px;
}
.conteiner-button {
   margin-right: auto;
   margin-left: auto;

   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.button {
   cursor: pointer;

   background: #4d5ae5;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   border-radius: 4px;

   width: 169px;
   height: 56px;
   display: block;
   min-width: 169px;
   border: none;
   margin: 0 auto;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
   background-color: #404bbf;
}
.button:focus {
   background-color: #404bbf;
}
/* ---section 2--- */
.conteiner-two {
   width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}
.visualy-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.advantages-list {
   display: flex;

   gap: 24px;
}
.advantages-item {
   width: calc((100% - 72px) / 4);
}

.advantages-icon {
   border: 1px solid #8e8f99;
   border-radius: 4px;
   width: 264px;
   height: 112px;
   background-color: #f4f4fd;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color;
   margin-bottom: 8px;
}

.title-strategy {
   font-weight: 500;
   font-size: 20px;
   line-height: 120%;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;
}
.strategy-info {
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.02em;
   color: #434455;
}

/* ---section 3--- */
.our-team {
   background: #f4f4fd;
}
.title-our-team {
   font-weight: 700;
   font-size: 36px;
   line-height: 111%;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
   color: #2e2f42;

   margin-bottom: 72px;
}
.team-list {
   display: flex;
   justify-content: center;
   gap: 24px;
}

.our-team-card {
   background: #fff;

   text-align: center;
   border-radius: 0 0 4px 4px;
   width: calc((100% - 72px) / 4);
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.icons-list {
   display: flex;
   gap: 24px;
   flex-shrink: 0;
   align-self: flex-end;
   justify-content: center;
   padding-top: 8px;
}

.icons {
   display: flex;
   justify-content: center;
   gap: 24px;
}

.icons-item {
   width: 40px;
   height: 40px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.icons-link {
   width: 100%;
   height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;

   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-link:hover {
   background-color: #404bbf;
}

.icons-link:focus {
   background-color: #404bbf;
}

.icon {
   width: 20px;
   height: 20px;
   position: absolute;
   fill: #f4f4fd;
}

.conteiner-card {
   padding: 32px 0;
}
.img-team {
}
.name-team {
   font-weight: 500;
   font-size: 20px;
   line-height: 120%;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;
   text-align: center;
}
.team-info {
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.02em;
   text-align: center;
   color: #434455;
}
/* ---section 4--- */

.title-portfolio {
   font-weight: 700;
   font-size: 36px;
   line-height: 111%;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
   color: #2e2f42;
   margin-bottom: 72px;
}
.portfolio-list {
   display: flex;
   flex-wrap: wrap;
   row-gap: 48px;
   column-gap: 24px;
}
.img-works {
   background: url("path_to_image");
}
.conteiner-card-portfolio {
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none;
}

.title-works {
   font-weight: 500;
   font-size: 20px;
   line-height: 120%;
   letter-spacing: 0.02em;
   color: #2e2f42;

   margin-bottom: 8px;
}
.works-info {
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.02em;
   color: #434455;
}
.our-portfolio-card {
   width: calc((100% - 2 * 24px) / 3);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-card:hover {
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-card:hover .text-cover {
   transform: translateY(0);
}

.box-transform {
   position: relative;
   overflow: hidden;
}
.text-cover {
   position: absolute;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.02em;
   color: #f4f4fd;
   background-color: #4d5ae5;
   top: 0;
   padding: 40px 32px;
   height: 100%;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---Footer--- */

.footer-conteiner {
   display: flex;
   align-items: baseline;
}

.footer {
   background: #2e2f42;
   height: 312px;
   padding: 100px 0;
}

.footer-logo-text {
   margin-right: 120px;
}
.footer-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.02em;
   color: #f4f4fd;

   width: 264px;
}

.h-logo-f {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   display: inline-block;
   margin-bottom: 16px;
}
.logo-web-f {
   color: #f4f4fd;
}

.social-media-footer {
   font-weight: 500;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.02em;
   color: #fff;
   margin-bottom: 16px;
}

.icons-list-footer {
   display: flex;
   gap: 16px;
   flex-shrink: 0;
   align-self: flex-end;
   justify-content: center;
   padding-top: 8px;
}

.icons-item-footer {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.icons-link-footer {
   width: 100%;
   height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;

   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link-footer:hover {
   background-color: #31d0aa;
}

.icons-link-footer:focus {
   background-color: #31d0aa;
}
